    <%= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, collection_wrapper_class: 'rating', item_wrapper_class: 'rating', boolean_style: :inline do |b| %>
    <%= b.label {'☆'} %>         



<p>Rating </P>
<div class="rating"> 
  <input type="radio" name="rating" value="5" id="5">
  <label for="5">☆</label> 
  <input type="radio" name="rating" value="4" id="4">
  <label for="4">☆</label> 
  <input type="radio" name="rating" value="3" id="3">
  <label for="3">☆</label> 
  <input type="radio" name="rating" value="2" id="2">
  <label for="2">☆</label> 
  <input type="radio" name="rating" value="1" id="1">
  <label for="1">☆</label>
</div>

<%= link_to "Next Review", @review.next, @product.id %>


  <% if current_user && current_user.admin %>
      <h3>Admin Only</h3>
      <%= f.label "Admin?", name: 'admin_check', id: 'admin_check', class: "form-col-1" %>
      <%= f.check_box:admin %><br>
  <% end %>

<%= render "shared/product_image", local: { product: product } %>


  <%= render partial: "shared/review_cards", locals: { user: user, review: review, product: _product } %>

  <%= render partial: "shared/product_image", locals: { user: user, review: review, product: _product } %>


          <div class="review-card">
            
            <% if _user.avatar_pic.attached? %>
              <%= image_tag _user.avatar_pic, class:"avatar-tiny", alt: 'User Avatar'  %>
              <% else %>
                <%= image_tag 'generc_profile_pic.webp', class:"avatar-tiny", alt: 'Avatar Not Found ' %>
            <% end %>
            <li>
              <%= link_to review.author, product_review_path(@product, review), class:"reviews-li"  %>
            </li>
          </div>


