<div class="center">
  <h1>Sign in</h1>
<%= form_tag signin_path do %>
  <div class="mobile-login">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <div class="mobile-signin">
      <br>
      <br>
    </div>
    <%= submit_tag "Sign in" %>
    <div class="mobile-signin">
      <br>
      <br>
    </div>
  </div>
<% end %>
</div>
