<p id="notice"><%= notice %></p>

<h1 class="center">Our Community</h1>

<div class="reviews-container">
  <% if @users.any? %>
      <div class="reviews-ul">
        <% @users.each do |user| %>


          <div class="review-card">
            <div class="review-card-flex">
              <div class="review-box1">

                <% if user.avatar_pic.attached? %>
                  <%= image_tag user.avatar_pic, class:"avatar" %><br>
                  <% else %>
                    <%= image_tag 'generc_profile_pic.webp', class:"avatar", alt: 'Avatar Not Found ' %><br>
                <% end %>
                <% if user.user_name? %>
                  <%= user.user_name %>
                  <% else %>
                  <p>Guest User</p>
                <% end %>

              </div>
              <div class="review-box2">
                <p>Number of Reviews: <%= User.user_reviews(user.id) %></p>

              </div>
              <div class="review-box3">
                <p>Average Rating: <%= User.user_ave_rating(user.id) %></p>              
              </div>
            </div>
              <div class="review-stars"> 
              </div>
            <div class="review-index-text">
                <p>Most Recent Review: <%= User.user_latest_review(user.id) %></p>
            </div>
          </div> 

        <% end %>
      </div>

  <% else %>
    <p>There are no users (yet).</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>