<p id="notice"><%= notice %></p>

<div class="sort-flex-wrapper">
  <h1 class="center">Our Community</h1>

  <div class="btn-group sort-button">
    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">User Name</a>
      <a class="dropdown-item" href="#">Highest Average Rating</a>
      <a class="dropdown-item" href="#">Lowest Average Rating</a>
      <a class="dropdown-item" href="#">Most Reviews</a>
      <a class="dropdown-item" href="#">Least Reviews</a>
      <a class="dropdown-item" href="#">Most Recent Review</a>
      <a class="dropdown-item" href="#">Least Recent Review</a>
    </div>
  </div>
</div>

<div class="community-flex-container">
  <% if @users.any? %>
    <% @users.each do |user| %>

      <div class="community-profile-card">
        <div class="community-profile-flex">

          <div class="community-profile-box1">
            <% if user.avatar_pic.attached? %>
              <%= image_tag user.avatar_pic, class:"avatar" %><br>
              <% else %>
                <%= image_tag 'generc_profile_pic.webp', class:"avatar", alt: 'Avatar Not Found ' %><br>
            <% end %>
          </div>

          <div class="community-profile-box2">
            <div class="community-column-box1">
              <% if user.user_name? %>
                <h3><%= user.user_name %></h3>
                <% else %>
                <h3>Guest User</h3>
              <% end %>
            </div>

            <div class="community-column-box2">
              <div class="community-align-stars"> 
                <p>Average Rating: </p>              
              </div>
              <div class="community-align-stars">
                <div class="star-align">
                  <%= render partial: "shared/review_stars", locals: { review: User.user_ave_rating(user.id) } %>
                </div>
              </div>                  
            </div>

            <div class="community-column-box3">
              <p>Number of Reviews: <%= User.user_reviews(user.id) %></p>
            </div>

            <div class="community-column-box4">
              <% if User.user_latest_review(user.id) == {} %>
                <p>Most Recent Review: None</p>
                <% else %>
                  <p>Most Recent Review: <%= User.user_latest_review(user.id) %></p>
              <% end %>
            </div>
            
          </div>
        </div>
      </div> 

    <% end %>

  <% else %>
    <p>There are no users (yet).</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>