<div class="sort-flex-wrapper">
  <h1 class="center">My Reviews</h1>

  <div class="btn-group sort-button">
    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu">

      <%= link_to("Products A-Z", :controller => "users", :action => "my_reviews", :my_az => 'my_az', :class=> "dropdown-item") %><br>
      <%= link_to("Products Z-A", :controller => "users", :action => "my_reviews", :my_za => 'my_za', :class=> "dropdown-item") %><br>
      <%= link_to("Highest Rating", :controller => "users", :action => "my_reviews", :my_high_rating => 'prod_high_rating', :class=> "dropdown-item") %><br>
      <%= link_to("Lowest Rating", :controller => "users", :action => "my_reviews", :my_low_rating => 'prod_low_rating', :class=> "dropdown-item") %><br>
      <%= link_to("Most Recent Review", :controller => "users", :action => "my_reviews", :my_most_recent => 'my_most_recent', :class=> "dropdown-item") %><br>
      <%= link_to("Least Recent Review", :controller => "users", :action => "my_reviews", :my_least_recent => 'my_least_recent', :class=> "dropdown-item") %><br>

    </div>
  </div>
</div>

<div class="reviews-container">
  <% if @my_reviews.any? %>
      <div class="reviews-ul">
        <% @my_reviews.each do |my_review| %>
          <% _product = @products.find_by(id: my_review.product_id) %>

          <%= render partial: "shared/review_cards", locals: { user: @user, review: my_review, product: _product } %>

        <% end %>
      </div>

  <% else %>
    <p>There are no reviews yet.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @my_reviews%>
</div>