<h1 class="center">Your Profile</h1>

  <%= render partial: "shared/avatar_big", local: { current_user: current_user }%>

  <p>User Name: <%= @user.user_name %></p>
  <p>Email: <%= @user.email %></p><br><br><br>
  

<% if current_user %>
  <div class="centered-header">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Home', root_path %>
  </div>
<% end %>


