<div class="footer-background">
  <div class="footer-flex">
    <h4><%= link_to "Home", root_path %></h4>
    <h4><%= link_to "Services", services_path %></h4>
    <h4><%= link_to "About", about_path %></h4>
    <h4><%= link_to "Jobs", jobs_path %></h4>
    <h4><%= link_to "Terms", terms_path %></h4>
    <h4><%= link_to "Privacy Policy", privacy_policy_path %></h4>
  </div>
    <div class="footer-legal footer-spacer">
      <p>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a> is licensed by CC BY 3.0</p>
    </div>
    <div class="footer-legal">
      <p>Mario's Specialty Foods &#169 2021</p>
    </div>
</div>
