
  <%= form_for @user do |f| %>
    <div class="user-form-flex-container">
      <div class="form-col-2">

        <%= render partial: "shared/avatar_big", local: { current_user: current_user }%>

        <%= f.label "Upload Avatar Image" %><br>
        <%= f.file_field :avatar_pic %><br>
      </div>
      <div class="form-col-1">
        <%= f.label "User Name" %>
        <%= f.text_field :user_name, id: 'user_name' %><br>  
        <%= f.label "Email" %>
        <%= f.text_field :email, id: 'registration_email' %><br>
        <%= f.label "Password" %>
        <%= f.password_field :password,  id: 'registration_password' %><br>
        <%= f.label "Password confirmation" %>
        <%= f.password_field :password_confirmation,  id: 'reg_password_confirm' %><br>
        <%= f.label "Admin?", name: 'admin_check', id: 'admin_check' %>
        <%= f.check_box:admin %><br>
        <%= f.submit "Submit" %><br>
      </div>
    </div>
  <% end %>
