
<% @highest_revieweds.each do |highest_reviewed| %>
  <div class="card">
    <div class="arrow-top-reviewed">
      <span>Top Rated</span>
    </div>
    <h2><%= link_to highest_reviewed.name, product_path(highest_reviewed) %></h2>
    <div 
      class="stars" style="--rating: 
      <%= highest_reviewed.average_review %>
      ;"aria-label="Rating of this product is " 
      <%= highest_reviewed.average_review %>
       " out of 5.">
    </div>

    <p>$<%= highest_reviewed.price %> per lb</p>
    <div class="card-text-up">
      <p>Imported From <%= highest_reviewed.country %></p>
    </div>
    <% if highest_reviewed.product_photo.attached? %>
      <%= image_tag highest_reviewed.product_photo, class:"card-image" %>
      <% else %>
      <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
    <% end %>
  </div>
<% end %>  
