<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-text-color nav-item nav-link active" 
        <%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %>
      </li>
      <li class="nav-item nav-link active nav-text-color" 
        <%= 'active' if current_page?(products_path) %>"><%= link_to "Products", products_path %>
      </li>
      <li class="nav-item nav-link active nav-text-color" 
        <%= 'active' if current_page?(reviews_path) %>"><%= link_to "Reviews", reviews_path %>
      </li>
      <li class="nav-item nav-link active nav-text-color" 
        <%= 'active' if current_page?(users_path) %>"><%= link_to "Our Community", users_path %>
      </li>
      <% if current_user %>
        <li class="nav-item nav-link active nav-text-color" 
          <%= 'active' if current_page?(my_reviews_path) %>"><%= link_to "My Reviews",  my_reviews_path %>
        </li>
      <% end %>
    </ul>

    <%= form_tag(search_page_path, :method => 'get',
      class: 'form-inline my-2 my-lg-0 hidden-xs-hover') do %>
      <div class='input-group'>
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-sm-2 hidden-xs' %>
      </div>
      <%= button_tag "Search", :class => 'btn btn-outline-success my-2 my-sm-0', :name => nil %>

    <% end %>  

    <%# <form class="form-inline my-2 my-lg-0 hidden-xs-hover">
      <input class="form-control mr-sm-2 hidden-xs" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>

  </div>
</nav>