
<% @newest_products.each do |newest_product| %>
  <div class="card">
    <div class="arrow-new">
      <span>New!</span>
    </div>
    <h2><%= link_to newest_product.name, product_path(newest_product) %></h2>
    <div 
      class="stars" style="--rating: 
      <%= newest_product.average_review %>
      ;"aria-label="Rating of this product is " 
      <%= newest_product.average_review %>
       " out of 5.">
    </div>

    <p>$<%= newest_product.price %> per lb</p>
    <div class="card-text-up">
      <p>Imported From <%= newest_product.country %></p>
    </div>
    <% if newest_product.product_photo.attached? %>
      <%= image_tag newest_product.product_photo, class:"card-image"%>
      <% else %>
      <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
    <% end %>
  </div>
<% end %>  
