
  <div class="card-show">
    
    <h2><%= product.name %></h2>
    <div class="card-stars-up">

      <%= render partial: "shared/review_stars", locals: { review: product.average_review } %>

    </div>
    <div class="card-show-flex">
      <div class="card-show-up card-show-col1">
        <p>Price:  $<%= product.price %> per lb</p><br>
        <div class="product-show-text-up">
          <p>Imported From <%= product.country  %></p>
        </div>  
      </div>
      <div class="card-show-up card-show-col2">
        <% if product.average_review.nan? %>
          <p>Average Review: No Reviews (Yet!)</p><br>
          <% else %>
          <p>Average Review: <%= product.average_review %> of 5 Stars</p><br>
        <% end %>
        <div class="product-show-text-up">
          <p>Number of Reviews: <%= number_reviews %></p>
        </div>
      </div>
    </div>  

    <% if product.product_photo.attached? %>
      <%= image_tag product.product_photo, class:"card-image-show" %>
      <% else %>
        <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
    <% end %>

  </div>

