<%= render "shared/errors", :object => @product %>

<div class="product-form-flex">
  <div class="product-col-2">  
    <%= form_for @product do |f| %>
      <%= f.label :name %>:  
      <%= f.text_field :name %><br>
      <%= f.label :price %>: $
      <%= f.text_field :price %><br>
      <%= f.label :country %>: 
      <%= f.text_field :country %><br>
      <%= f.label :product_photo %>:
      <%= f.file_field :product_photo %><br>
      <%= f.submit  %>
  </div>
    <div class="product-col-1">

      <%= render partial: "shared/product_image_big", locals: { product: @product } %>

    </div>
  <% end %>
</div>