
  <div class="card-show">
    
    <h2><%= link_to product.name, product_path(product) %></h2>

    <%= render partial: "shared/review_stars", locals: { review: product.average_review } %>
    
    <p>$<%= product.price %> per lb</p>
    <div class="card-text-up">
      <p>Imported From <%= product.country  %></p>
    </div>

    <% if product.product_photo.attached? %>
      <%= image_tag product.product_photo, class:"card-image-show" %>
      <% else %>
        <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
    <% end %>

  </div>

