<%= render "shared/errors_reviews", :object => @review %>

<div class="review-form-center">

  <%= render partial: "shared/product_image_big", locals: { product: @product } %>

</div>

<%= form_for [@product, @review] do |f| %>
<div class="review-form-center">
  <div class='rating'>
    <%= f.radio_button(:rating, 5) %>
    <%= f.label(:rating_5, '☆') %>
    <%= f.radio_button(:rating, 4) %>
    <%= f.label(:rating_4, '☆') %>
    <%= f.radio_button(:rating, 3) %>
    <%= f.label(:rating_3, '☆') %>
    <%= f.radio_button(:rating, 2) %>
    <%= f.label(:rating_2, '☆') %>
    <%= f.radio_button(:rating, 1) %>
    <%= f.label(:rating_1, '☆') %>
  </div>
</div>
<div class="review-form-center">
    <div class="center">
      <%= f.text_area :content_body, :cols =>80, :rows => 5 %><br>
    </div>
</div>

<div class="center">
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
</div>
  <% end %>
</div>
