
<% @products.each do |product| %>
  <div class="card">
    <h2><%= link_to product.name, product_path(product) %></h2>
    <p>$<%= product.price %></p>
    <p>Imported From <%= product.country  %></p>
    <% if product.product_photo.attached? %>
      <%= image_tag product.product_photo, class:"card-image" %>
      <% else %>
      <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
    <% end %>
  </div>
<% end %>  
