<h1><%= @product.name %></h1>
<p>Average Rating: <%= @product.average_review %></p>
<p>$<%= @product.price %></p>
<p>Imported From <%= @product.country %></p>

<% if @product.product_photo.attached? %>
  <%= image_tag @product.product_photo, class:"card-image" %>
  <% else %>
  <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
<% end %>


<% if @product.reviews.any? %>


  <h4>Here are the reviews for this product:</h4>

  <div class="reviews-container">

  <ul>
    <div class="reviews-ul review-card ">
    <% @product_reviews.each do |review| %>
      <% _user = User.find_by(id: review.user_id) %>
      <% if _user.avatar_pic.attached? %>
        <%= image_tag _user.avatar_pic, class:"avatar-tiny", alt: 'User Avatar'  %>
        <% else %>
          <%= image_tag 'generc_profile_pic.webp', class:"avatar-tiny", alt: 'Avatar Not Found ' %>
      <% end %>
      <li>
        <%= link_to review.author, product_review_path(@product, review), class:"reviews-li"  %>
      </li>
    <% end %>
  </ul>
</div>   
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<div class="pagination">
  <%= will_paginate @product_reviews %>
</div>

  </div>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<% if current_user && current_user.admin %>
  <h3>Admin Only</h3>
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete product", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>

<% end %>
