 
<div class="product-show-flex">

  <div class="review-box1">
    <%= link_to "\u2039", @product.previous, class: "previous-next previous round" %>
  </div>

  <div class="review-box2">
    <%= render partial: "shared/product-card-show", locals: { product: @product } %>
  </div>

  <div class="review-box3">
    <%= link_to "\u203A", @product.next, class: "previous-next next round review-box3" %>
  </div>

</div>

<div class="centered-header margin-spacer">
  <%= link_to "Add Your Review", new_product_review_path(@product), class: "btn btn-success" %>

</div>
  <% if current_user && current_user.admin %>
    <div class="margin-spacer admin-card-2btn">
      <div class="centered-header">
        <h3>Admin Only</h3>
      </div>
      <p><%= link_to "Edit", edit_product_path(@product), class: "btn btn-success" %></p>
      <p><%= link_to "Delete product", product_path(@product), class: "btn btn-success", 
                              :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %></p>
    </div>
  <% end %>

<% if @product.reviews.any? %>

<div class="margin-spacer">
  <h2>Reviews for this product:</h2>
</div>

  <div class="reviews-container">
    <div class="reviews-ul">
      <% @product_reviews.each do |review| %>
        <% user = User.find_by(id: review.user_id) %>

        <%= render partial: "shared/review_cards", locals: { user: user, review: review, product: @product } %>

      <% end %>
    </div>
  </div>   
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<div class="pagination">
  <%= will_paginate @product_reviews %>
</div>

  </div>

