<%= link_to "Previous Product", @product.previous %> | <%= link_to "Next Product", @product.next %>




<h1><%= @product.name %></h1>
<p>Average Rating:</p>

<%= render partial: "shared/review_stars", locals: { review: @product.average_review } %>

<p>$<%= @product.price %></p>
<p>Imported From <%= @product.country %></p>

<%= render partial: "shared/product_image_big", locals: { product: @product } %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <div class="reviews-container">
    <div class="reviews-ul">
      <% @product_reviews.each do |review| %>
        <% user = User.find_by(id: review.user_id) %>

        <%= render partial: "shared/review_cards", locals: { user: user, review: review, product: @product } %>

      <% end %>
    </div>
  </div>   
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<div class="pagination">
  <%= will_paginate @product_reviews %>
</div>

  </div>


<% if current_user && current_user.admin %>
  <h3>Admin Only</h3>
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete product", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>

<% end %>
