<h1><%= @product.name %></h1>
<p>$<%= @product.price %></p>
<p>Imported From <%= @product.country %></p>

<% if @product.product_photo.attached? %>
  <%= image_tag @product.product_photo, class:"card-image" %>
  <% else %>
  <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found ' %>
<% end %>


<% if @product.reviews.any? %>


  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<% if current_user && current_user.admin %>
  <h3>Admin Only</h3>
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete product", product_path(@product),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>

<% end %>
