<div class="sort-flex-wrapper">
  <h2 class="center">Our Reviews</h2>

  <div class="btn-group sort-button">
    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu">

      <%= link_to "Reviewer A-Z", reviews_path(:az => 'az'), class: "dropdown-item" %>
      <%= link_to "Reviewer Z-A", reviews_path(:za => 'za'), class: "dropdown-item" %>
      <%= link_to "Product A-Z", reviews_path(:product_az => 'product_az'), class: "dropdown-item" %>
      <%= link_to "Product Z-A", reviews_path(:product_za => 'product_za'), class: "dropdown-item" %>
      <%= link_to "Highest Rating", reviews_path(:high_rating => 'highest_rated'), class: "dropdown-item" %>
      <%= link_to "Lowest Rating", reviews_path(:low_rating => 'lowest_rated'), class: "dropdown-item" %>
      <%= link_to "Most Recent Review", reviews_path(:most_recent => 'most_recent'), class: "dropdown-item" %>
      <%= link_to "Least Recent Review", reviews_path(:least_recent => 'least_recent'), class: "dropdown-item" %>

    </div>
  </div>
</div>

<div class="reviews-container">
  <% if @reviews.any? %>
      <div class="reviews-ul">
        <% @reviews.each do |review| %>
          <% user = @users.find_by(id: review.user_id) %>
          <% _product = @products.find_by(id: review.product_id) %>

          <%= render partial: "shared/review_cards", locals: { user: user, review: review, product: _product } %>

        <% end %>
      </div>

  <% else %>
    <p>There are no reviews yet.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>