<h1 class="centered-header">Our Reviews</h1>

<div class="reviews-container">
  <% if @reviews.any? %>

      <div class="reviews-ul">
        <% @reviews.each do |review| %>
          <div class="review-card">
            <div class="review-card-flex">
              <% _user = @users.find_by(id: review.user_id) %>
                <% if _user.avatar_pic.attached? %>
                  <%= image_tag _user.avatar_pic, class:"avatar-tiny", alt: 'User Avatar'  %>
                  <% else %>
                    <%= image_tag 'generc_profile_pic.webp', class:"avatar-tiny", alt: 'Avatar Not Found ' %>
                <% end %>
              <%= link_to review.author, review_path(id: review, product_id: review.product_id) %>

              <p>On <%= review.created_at.strftime('%m-%d-%Y') %></p>
            </div>
            <div class="review-stars">  
              <div class="stars" style="--rating: <%= review.rating %>;" aria-label="Rating of this review is " <%= review.rating %> " out of 5."></div>
            </div>
            <div class="review-index-text">
              <% _product = @products.find_by(id: review.product_id) %>
              <% if _product.product_photo.attached? %>
                <%= image_tag _product.product_photo, class:"product-image-tiny", alt: 'Product Image'  %>
                <% else %>
                  <%= image_tag 'image_not_available.webp', class:"card-image-not-found", alt: 'Image Not Found' %>
              <% end %>
              <%= _product.name %>
              <%= ' from ' %>
              <%= _product.country %>
              <span class="review-card-spacer"><%= review.content_body  %></span>
            </div>
          </div> 
        <% end %>
      </div>

  <% else %>
    <p>There are no reviews yet.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>