<h1 class="centered-header">Our Reviews</h1>

<div class="reviews-container">
  <% if @reviews.any? %>

      <div class="reviews-ul">
        <% @reviews.each do |review| %>
          <div class="review-card">
            <div class="review-card-flex">
              <% _user = User.find_by(id: review.user_id) %>
                <% if _user.avatar_pic.attached? %>
                  <%= image_tag _user.avatar_pic, class:"avatar-tiny", alt: 'User Avatar'  %>
                  <% else %>
                    <%= image_tag 'generc_profile_pic.webp', class:"avatar-tiny", alt: 'Avatar Not Found ' %>
                <% end %>
              <%= link_to review.author, review_path(id: review, product_id: review.product_id) %>

              <p>On <%= review.created_at.strftime('%m-%d-%Y') %></p>
            </div>
            <div class="review-stars">  
              <div class="stars" style="--rating: <%= review.rating %>;" aria-label="Rating of this review is " <%= review.rating %> " out of 5."></div>
            </div>
            <div class="review-index-text">
              <%= review.content_body %>
            </div>
          </div> 
        <% end %>
      </div>

  <% else %>
    <p>There are no reviews yet.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>