<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Foods</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/header" %>
    <%= render "shared/navbar" %>

    <div class="container-fluid">

      <div class="content">
        <div class="flash-wrap">
          <%= content_tag(:p, notice, class: 'flash') if notice %>
          <%= content_tag(:p, alert,  class: 'flash' ) if alert  %>
        </div>

        <%= yield %>
      </div>
    </div>

    <footer>
      <%= render "shared/footer" %>
    </footer>

  </body>
</html>
